In [1]:
## Importing the packages
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
# reading the CSV file into pandas dataframe

df=pd.read_csv("dataset_group.csv")

In [3]:
df.head()

         Date  Order_id        Product
0  2018-01-01         1         yogurt
1  2018-01-01         1           pork
2  2018-01-01         1  sandwich bags
3  2018-01-01         1     lunch meat
4  2018-01-01         1   all- purpose

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  object
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: int64(1), object(2)
memory usage: 483.9+ KB

In [5]:
df.describe().T

            count        mean         std  min    25%    50%    75%     max
Order_id  20641.0  575.986289  328.557078  1.0  292.0  581.0  862.0  1139.0

In [6]:
df.duplicated().sum()

4730

In [8]:
df = df.drop(df[df.Product == 'none'].index)

In [9]:
df

             Date  Order_id            Product
0      2018-01-01         1             yogurt
1      2018-01-01         1               pork
2      2018-01-01         1      sandwich bags
3      2018-01-01         1         lunch meat
4      2018-01-01         1       all- purpose
...           ...       ...                ...
20636  2020-02-25      1138               soda
20637  2020-02-25      1138       paper towels
20638  2020-02-26      1139               soda
20639  2020-02-26      1139  laundry detergent
20640  2020-02-26      1139            shampoo

[20641 rows x 3 columns]

In [10]:
#Checking the no. of Rows and columns
df.shape

(20641, 3)

In [11]:
df.isnull().sum()

Date        0
Order_id    0
Product     0
dtype: int64